.gitignore
.cache/
.idea/
build/
dist/
gui.py
helpDialog.txt
simple-ote.ini
src/__init__.pyc
src/__pycache__/
src/gui.py
src/pyote.egg-info/
src/pyoteapp/.mypy_cache/
src/pyoteapp/__init__.pyc
src/pyoteapp/__pycache__/
src/pyoteapp/helpDialog.txt
src/pyoteapp/tests/__pycache__/
src/pyoteapp/version.pyc
src/simple-ote.ini
